.App{
  text-align: center;
  padding: 20px;
}

.App.cards {
  width: 425px;
  margin: 20px auto;
}

.App.cards .table {
  margin-top: 20px;
}

.App-btn{
  display: block;
  margin: 20px auto 40px;
}
